body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 216, 177);
}

#myBtn {
    position: absolute;
    left: 43.65%;
    top: 40%;
    width: 170px;
    height: 80px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #ddb7b2;
    font-size: 22px;
    color: #2F4858;
}

#myBtn:hover{
    background-color: #dc143c;
}